# ── App ──────────────────────────────────────────────────────────
APPENV=
APPURL=
APPPORT=

AGENTVERSION=
ENFORCEMFA=

# ── Auth ─────────────────────────────────────────────────────────
JWTSECRET=
BOOTSTRAPTOKEN=
DEFAULTADMINEMAIL=
DEFAULTADMINPASSWORD=

# ── Database ─────────────────────────────────────────────────────
DATABASETYPE=
DATABASEPATH=
DATABASEHOST=
DATABASEPORT=
DATABASENAME=
DATABASEUSERNAME=
DATABASEPASSWORD=
DATABASEUSESSL=

# ── Cache ─────────────────────────────────────────────────────────
CACHETYPE=
REDISADDR=
REDISPASSWORD=
REDISDB=

# ── Loki ─────────────────────────────────────────────────────────
LOKIHOST=
LOKIPORT=
LOKITLSENABLED=
LOKITLSSKIPVERIFY=

# ── Casbin ───────────────────────────────────────────────────────
MODELCONFPATH=
POLICYCSVPATH=

# ── Alertmanager ─────────────────────────────────────────────────
ALERTMANAGERURL=
